<%= render '/shared/header' %>

<div class="article-post-form">
  <%= form_with model: @article, class: 'article-form', local: true do |f| %>
    <div class='form-wrapper'>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="article-form-group">
        <div class='article-form-text-wrap'>
          <label for="image" class="article-form-text">サムネイル画像</label>
        </div>
        <div>
          <%= f.file_field :image, class:"article-post-image", id:"image" %>
          <div id="image-content"><%= image_tag @article.image, class: "review-image" if @article.image.attached? %></div>
        </div>
      </div>

      <div class="article-form-group">
        <div class='article-form-text-wrap'>
          <label for="title" class="article-form-text">タイトル名</label>
        </div>
        <%= f.text_field :title, class:"input-default", id:"title", maxlength:"50" %>
      </div>

      <div class="article-form-group">
        <div class="article-form-text-wrap" id="select-category-area">
          <label for="category-select-box3" class="article-form-text">カテゴリー選択</label>
          <div id="first-category" class="first-category-box">
            <%= f.collection_select(:parent_category, @category_parent_array, :id, :name, {selected: @article.category.parent.parent.id, include_blank: "---"}, { class: "input-default", id: 'category-select-box' }) %>
          </div>
          <div id="second-category" class="second-category-box">
            <%= f.collection_select(:child_category, @category_children_array, :id, :name, {selected: @article.category.parent.id, include_blank: ""}, { class: "input-default category-box2", id: 'category-select-box2' }) %>
          </div>
          <div id="third-category" class="third-category-box">
            <%= f.collection_select(:category_id, @category_grandchildren_array, :id, :name, {selected: @article.category.id, include_blank: "" }, { class: "input-default category-box3", id: 'category-select-box3' }) %>
          </div>
        </div>
      </div>

      <div class="article-form-group">
        <div class='article-form-text-wrap'>
          <label for="article-text" class="article-form-text">記事内容</label>
        </div>
        <%= f.text_area :text, class:"input-article-default", id:"article-text", autofocus: true %>
      </div>
      <div class='register-btn'>
        <%= f.submit "投稿する" ,class:"register-red-btn" %>
      </div>
    </div>
  <% end %>  
</div>


<%= render '/shared/footer' %>