<%= render '/shared/header' %>

<main>
  <div class="container">
    <%= render '/shared/aside_articles' %>
    <div class="articles-wrapper">
      <div class="wrapper-title-area">
        <h2 class="wrapper-title"><%= @article.title %></h2>
      </div>
      <div class="category-user-visible-area">
        <div class="category-info">
          カテゴリー : <%= link_to @article_category_name[0].name, category_path(@article_category_name[0].id), class: 'category-name' %> / <%= link_to @article_category_name[1].name, category_path(@article_category_name[1].id), class: 'category-name' %> / <%= link_to @article_category_name[2].name, category_path(@article_category_name[2].id), class: 'category-name' %>
        </div>
        <div class="user-day-info">
          <div class="user-info">
            投稿者 : <%= link_to @article.user.nickname, user_path(@article.user.id) %>
          </div>
          <div class="day-info">
            <%= l @article.updated_at %> 更新
          </div>
        </div>
      </div>
      <div class="article-details">
        <div class="article-image-area">
          <%= image_tag @article.image if @article.image.attached? %>
        </div>
        <div class="article-text-area">
          <p><%= simple_format(@article.text) %></p>
        </div>
        <% if user_signed_in? && current_user.id == @article.user.id %>
          <%= link_to '編集', edit_article_path(@article), class: 'article-edit btn' %>
          <%= link_to '削除', article_path(@article), method: :delete, class: 'article-delete btn' %>
        <% end %>
        <% if user_signed_in? && current_user.id != @article.user.id %>
          <div class="bookmarks-btn" data-num=<%= @article.id %>>
            <span class="article-marks btn" data-status=<%= @bookmark %>>ブックマーク登録を<%= @bookmark_check %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="comment-all">
    <div class="low-comment-wrapper">
      <div class="comment-visible-box">
        <div class="wrapper-title-area">
          <h2 class="wrapper-title">コメント一覧BOX</h2>
        </div>
        <div class="comment-open-area">
          <ul id="comments-indicate">
            <% @comments.reverse_each do |comment| %>
              <li class="comment">
                <h3 class="comment-user"><%= comment.user.nickname %></h3>
                <div class="comment-content">
                  <%= simple_format(comment.text) %>
                  <p class="comment_date"><%= l comment.created_at %><p>
                </div>
                <% if user_signed_in? %>
                  <% if current_user.id == comment.user.id || current_user.id == @article.user.id %>
                    <div class="comment-delete fas fa-trash-alt" id="<%= comment.id %>"></div>
                  <% end %>
                <% end %>
                <div class="clearfix"></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="comment-wrapper">
        <div class="wrapper-title-area">
          <h2 class="wrapper-title">コメント投稿BOX</h2>
        </div>
        <div class="comment-box" id="<%= @article.id %>">
          <%= form_with model: [@article, @comment], id: "comment-form" do |f| %>
            <%= render 'shared/error_messages', model: @comment %>
            <div class="comment-text-box">
              <%= f.text_area :text, class: "comment-text" %>
            </div>
            <% if user_signed_in? %>
              <%= f.submit 'コメントする', class:"comment-flag-icon comment-submit" %>
            <% else %>
              <%= link_to '新規登録',  new_user_registration_path, class: "comment-flag-icon comment-signup" %>
              <%= link_to 'ログイン', new_user_session_path, class: "comment-flag-icon comment-signin" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="page-change">
        <% if @article.previous.present? %>
          <%= link_to '< prev', article_path(@article.previous), class: "change-item-btn" %>
        <% end %>
        <% if @article.next.present? %>
          <%= link_to 'next >', article_path(@article.next), class: "change-item-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</main>

<%= render '/shared/footer' %>