<header>
  <div class="container">
    <div class="header-left">
      <h2><a href="/">Find it.</a></h2>
    </div>
    <div class="header-right">
      <% if user_signed_in? %>
        <ul class="user_sign_in">
          <li><%= link_to '投稿する', new_article_path, class: 'new-post' %></li>
          <li><%= link_to current_user.nickname, user_profiles_path(current_user.id), class: 'user_name' %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout' %></li>
        </ul>
      <% else %>
        <ul class="user_sign_in">
          <li><%= link_to '新規登録', new_user_registration_path, class: 'sign-up' %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'login' %></li>
        </ul>
      <% end %>
    </div>

    <div class="header-right-responsive">
      <div class="fas fa-bars menu-icon" id="icon"></div>
    </div>
    <div class="responsive-menu-area">
      <% if user_signed_in? %>
        <ul class="responsive-menu">
          <li class="responsive-menu-title second_responsive">SEARCH</li>
          <li>
            <%= form_with url: search_articles_path, method: :get, class: 'search-form', local: true do |f| %>
              <%= f.text_field :keyword, class: 'input-box second_responsive', placeholder: 'キーワードから探す' %> 
              <%= button_tag type: :submit, class:"search-btn" do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </li>
          <li class="responsive-menu-title">USER MENU</li>
          <li><%= link_to '投稿する', new_article_path, class: 'new-post' %></li>
          <li><%= link_to current_user.nickname, user_profiles_path(current_user.id), class: 'user_name' %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout' %></li>
          <li class="menu-close">メニューを閉じる</li>
          <li class="responsive-menu-title second_responsive">ARTICLE MENU</li>
          <li><%= link_to '新着記事', root_path, class: 'new-post second_responsive' %></li>
          <li><%= link_to 'ブックマーク', user_bookmarks_path(current_user.id), class: 'new-post second_responsive' %></li>
          <li><%= link_to "#{current_user.nickname}さんの投稿記事", user_path(current_user), class: 'new-post second_responsive' %></li>
          <li><%= link_to "ユーザー一覧", users_path, class: 'new-post second_responsive' %></li>
          <li><%= link_to "カテゴリー一覧", categories_path, class: 'new-post second_responsive' %></li>
          <li><%= link_to "ブックマークランキング", ranking_articles_path, class: 'new-post second_responsive' %></li>
          <li class="responsive-menu-title second_responsive">USER SUPPORT</li>
          <li><%= link_to "ノート", user_notes_path(current_user.id), class: 'new-post second_responsive responsive_note' %></li>
          <li class="side-box">
            <%= form_with model: @note, url: notes_path, class: "responsive_memo_form", local: true do |f| %>
              <%= f.text_area :text, class: "responsive_memo_area", id: "responsive_memo_field", placeholder: '気になることをメモしよう!' %>
              <%= f.submit 'メモする', class: 'responsive_memo_submit' %>
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul class="responsive-menu">
          <li class="responsive-menu-title">USER MENU</li>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'sign-up' %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'login' %></li>
          <li class="menu-close">メニューを閉じる</li>
          <li class="responsive-menu-title second_responsive">ARTICLE MENU</li>
          <li><%= link_to '新着記事', root_path, class: 'new-post second_responsive' %></li>
          <li><%= link_to "ユーザー一覧", users_path, class: 'new-post second_responsive' %></li>
          <li><%= link_to "カテゴリー一覧", categories_path, class: 'new-post second_responsive' %></li>
          <li><%= link_to "ブックマークランキング", ranking_articles_path, class: 'new-post second_responsive' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</header>